@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  border-radius: 2rem;
  background-color: #b4befe;
  color: #11111b;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: #11111b;
  color: #b4befe;
}
